body {
  background-color: #8bd7d2;
}

.contenedor form * {
  margin-block: 5px;
}

.off {
  display: none;
}

.form-grupo {
  display: flex;
  flex-direction: column;
}

.paso {
  width: 50%;
  border: 2px #fffbfa solid;
  padding: 20px;
  border-radius: 20px;
}
